html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  

  body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #ddd;
  }
  #sidebar h2 {
    margin: 0.5rem 0;     
    line-height: 1.1;     
  }
  
  #map-icon {
    position: relative;
    padding-left: 32px;    
  }
  
  #map-icon::before{
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-right: 10px;
    transform: translateY(-50%);
    display: block;
    width: 25px;          
    height: 25px;
    background: url("./map.png") no-repeat center;
    background-size: contain;
    filter: brightness(0) contrast(100) invert(1);
  }
  
  /* Sidebar */
  #sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background: #2c2c2c;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  #sidebar h2, #sidebar h3 {
    margin-top: 0;
    color: #fff;
  }
  
  #sidebar h2 span {
    color: #ff4b5c;
    font-size: 2.5rem;
    font-weight: 800;
  }
  
  #sidebar section {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  #sidebar label {
    display: block;
    margin-bottom: 10px;

  }
  
  #sidebar input[type="text"],
  #sidebar select {
    margin-top: 8px;
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 7px;
    background: #444;
    color: #eee;
    box-sizing: border-box;
  }
  
  #sidebar button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background: #007acc;
    color: #fff;
    cursor: pointer;
  }
  
  #sidebar button:hover {
    background: #005fa3;
  }
  
  #sidebar #output {
    background: #333;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.9em;
  }
  
  /* Map container */
  #map {
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;
    bottom: 0;
  }
  